
<div class="row">
<h4>Cryptocurrency</h4>
<mat-form-field>
  <mat-select placeholder="Select Cryptocurrency"  [(value)]="cryptoSelected">
    <mat-option *ngFor="let cryto of cyptos" [value]="cryto.value">
      {{cryto.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h4>Real Currency</h4>
<mat-form-field>
  <mat-select placeholder="Select currency" [(value)]="currencySel">
    <mat-option *ngFor="let currency of currencies" [value]="currency.value">
      {{currency.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
</div>
